@import "_partials/_mixins";

// Brown Colour Palette
$white: 			#FCFBE3;
$coffee: 			#A2825C;
$black:				#333333;
$coffee-light:		#BEA586;
$coffee-dark:		#674941;

body {
	background-color: #fff;
}

.navbar-inner, .navbar .btn-navbar  {
	background: none;
	background-color: $coffee;
}

.navbar .nav>li>a {
	color: #fff;
}

.badge-warning {
	background-color: $coffee-dark;
}